/**
 * Nav Dropdown
 */

 .reportListDropdownWrap,
 .reportListDropdown {
   display: block;
 }
 
 .reportListDropdown {
   z-index: 200;
 }
 
 .dropdownBody {
   width: 100%;
   outline: 0;
 }

/**
 * Focus trap
 */
 .focusTrap {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
